<!DOCTYPE html>
<html>
<head>
  <title>Records Shop</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Barlow+Condensed|Bree+Serif&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- <link rel="stylesheet" type="text/css" href="/styles/buttons.css">

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css"> -->
</head>
<body>
<main class="flex flex--row">
<ul>
  <li>
    <a href="/inventory">Inventory</a>
  </li>
  <li>
    <a href="/artists">Artists</a>
  </li>
  <li>
    <a href="/record_labels">Record Labels</a>
  </li>
</ul>
  <section1 id="content">
  <%= yield %>
  </section1>
</main>
<br>
<br>
<br>

<a href="/">Homepage</a>
</body>
</html>
