<h1>Inventory</h1>

<p class="">
  <a class="" href="/inventory/new">Create new record</a>
</p>

<ul>
  <% for record in @records %>
  <p><%= record.name %> with a quantity of <%= record.quantity %></p>
  <p><% end %></p>
</ul>
