<h1>Inventory</h1>

<p class="">
  <a class="" href="/inventory/new">Add new record</a>
</p>

<ul>
  <% for record in @records %>
  <p>-<%= record.name %> with a quantity of <%= record.quantity %></p>

  <form action="/inventory/<%= record.id %>/delete" method="post">
    <input type="submit" value="Delete"/>
  </form>
  <p><% end %></p>
</ul>
