<h1> Add Record Label</h1>

<form action="/record_labels" method="post">

  <label for="name">
    Enter Label name:
    <input type="text" name="name"/>
  </label>

  <label for="contact_info">
    Enter contact information:
    <input type="text" name="contact_info" />
  </label>

<input class="" type='submit' value="Create">

</form>
