ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
}

h1 {font-family: 'Bree Serif', serif;
text-align: center;
}

th {font-family: 'Roboto Slab';
text-align: center;
background-color: beige ;
}

p {font-family: 'Roboto Slab';
text-align: center;}

p1 {font-family: 'Roboto Slab';
text-align: center;}


a, a:link, a:visited {font-family: 'Roboto Slab';
text-align: center;
text-decoration: none;
}

a:hover {
  color:red;
}

form{
  font-family: 'Roboto Slab';
  text-align: center;
}

td {font-family: 'Barlow Condensed', sans-serif;
text-align: center;}

table.center {
  margin-left:auto;
  margin-right:auto;
}

div1 {
  
}

table, th, td {
  border: 1px solid black;
}
