<h1>Artists</h1>

<body>
  <br>
  <br>
  <p>Click Artist to see records in stock</p>
  <p>
    <table class="center">
      <tr>
        <th> Name </th>
        <th> Edit </th>
        <th> Delete </th>
        <tbody>
          <% for artist in @artists %>
          <tr>
            <td>
              <a href="/artists/<%=artist.id%>"><%= artist.name %></a>
            </td>

            <td>
              <form action="/artists/<%= artist.id %>/edit" method="post">
                <input type="submit" value="Edit"/>
              </form>
            </td>

            <td>
              <form action="/artists/<%= artist.id %>/delete" method="post">
                <input type="submit" value="Delete"/>
              </form>
            </td>

          </tr>

          <p><% end %></p>
        </tbody>

      </tr>
    </table>

  </p>

  <p>
    <a class="" href="/artists/new">Add New Artist</a>
  </p>

</body>
