<h1>Artists</h1>

<body>
  <ul>
    <% for artist in @artists %>
    <a href="/artists/<%=artist.id%>"><%= artist.name %></a> click to see records in stock</p>
    <p><% end %></p>
  </ul>

  <a class="" href="/artists/new">Add New Artist</a>
</body>
