<h1>Artists</h1>

<body>
  <ul>
    <% for artist in @artists %>
    <a href="/artists/<%=artist.id%>"><%= artist.name %></a>
    <form action="/artists/<%= artist.id %>/delete" method="post">
      <input type="submit" value="Delete"/>
    </form>
    <p><% end %></p>
  </ul>

  <a class="" href="/artists/new">Add New Artist</a>
</body>
