<h1>Add New Artist</h1>

<form action="/artists" method="post">
  <label for = "name">
    Enter artist name:
      <input type="text" name= "name" id="name"/>
  </label>
<input class="" type='submit' value="Add">
</form>
